<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc5eIRFz9PmGp_2lXALSe05jVVxUzOYYo</string>
	<key>GCM_SENDER_ID</key>
	<string>737008980753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hale.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hale-54ebc</string>
	<key>STORAGE_BUCKET</key>
	<string>hale-54ebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737008980753:ios:42600ba0dc034432f6f2b0</string>
</dict>
</plist>